### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
data = pd.read_csv(file_to_load)
data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#Create avariable to hold number of players
players = len(data['SN'].unique())
#Create a dataframe to showcase the total number of players
tots = pd.DataFrame({"Total Players" : [players]})
tots

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#get number of unique items
items = len(data['Item ID'].unique())
#variable to hold the mean purchase price
price = "${:,.2f}".format(data['Price'].mean())
#variable to hold total number of puchases
numpur = data['SN'].count()
#variable to hold total revenue
rev = "${:,.2f}".format(data['Price'].sum())
##Create a dataframe to showcase the variable
purA = pd.DataFrame({"Number of Unique Items" : [items],
                     "Average Purchase Price":[price],
                    "Total Number of Purchases": [numpur],
                    "Total Revenue": [rev]})
purA

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

## Gender Demographics

In [4]:
#Delete duplicate rows
deleted = data.drop_duplicates(['SN'])
#count number of items purchased by the different genders
deleted['Gender'].value_counts()
#create dataframe out of value counts
gender = pd.DataFrame(deleted['Gender'].value_counts())
#add percent column to the DF
gender["Percentage of Players"] = (((gender['Gender'])/int(players))*100).map("{:,.2f}%".format)
#rename the columns to make a better looking DF
gender = gender.rename(columns={"Gender": "Total Count"})
gender

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Set Gender to the index and create a count number of rows for 'Purchase count'
gen = data.set_index("Gender") 
gen.groupby(['Gender']).count()
#Remove other columns to create the Data Frame
gen.drop(gen.columns[[1,2,3,4,5]],axis = 1,inplace = True)
gen =gen.groupby(['Gender']).count()

#Find 'Average Purchase Price' by grouping and then taking out 
gen1 = data.set_index("Gender") 
genave = gen1.groupby(['Gender']).mean()
avepri = list(genave['Price'])

#Find 'Total Purchase price '
gensum = gen1.groupby(['Gender']).sum()
totpur = list(gensum['Price'])

#Find 'Average Purchase price' by grouping twice
avetot = gen1.groupby(['SN','Gender']).sum()
avetot = avetot.groupby('Gender').mean()
avetotF = list(avetot['Price'])

#Add found items to the data frame
gen['Average Purchase Price'] = avepri
gen['Total Purchase Value'] = totpur
gen['Average Purchase Total per Person by Gender'] = avetotF

#Format the Data frame
gen['Average Purchase Price'] = gen['Average Purchase Price'].map("${:.2f}".format)
gen['Total Purchase Value'] = gen['Total Purchase Value'].map("${:.2f}".format)
gen['Average Purchase Total per Person by Gender'] = gen['Average Purchase Total per Person by Gender'].map("${:.2f}".format)
gen

,Purchase ID,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Gender
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#create the bins
bib = [0,9,14,19,24,29,34, 39,100]
#create the group names for the bins
gbins = ['<10','10-14', '15-19','20-24','25-29','30-34','35-39','40+']
#create other DataFrame
#Drop Duplicates
dem = data.drop_duplicates(['SN'])
#make dem a dataframe out of a list of lists
dem = pd.DataFrame(dem)
# Add bins
dem['Groups'] = pd.cut(dem.Age, bins = bib, labels=gbins, include_lowest=True)

#eliminate all unneeded columns
dem = dem.groupby(['Groups']).agg({'Age':'count'})

#Rename Age column
dem = dem.rename(columns={'Age':'Total Count'})
#create and format the percentage 
dem['Percentage of Players'] = (((dem['Total Count'])/int(players))*100).map("{:,.2f}%".format)

dem

        Total Count Percentage of Players
Groups
<10              17                 2.95%
10-14            22                 3.82%
15-19           107                18.58%
20-24           258                44.79%
25-29            77                13.37%
30-34            52                 9.03%
35-39            31                 5.38%
40+              12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
#Creating a copy of the Database 
purgr = data.copy()

# creating new columns for the final result
purgr['Total Purchase Value'] = purgr['Price']
purgr['Average Purchase Price'] = purgr['Price']
#adding the bins for grouping later
purgr['Groups'] = pd.cut(purgr["Age"], bib, labels=gbins, include_lowest=True)

#Creating the Avg Total Purchase/Person list 
purcper = purgr.groupby(['Groups','SN']).sum()
purcper = purcper.groupby(['Groups']).mean()
purcper = list(purcper['Average Purchase Price'])

#grouping by the Groups and creating the other lists inside the DataFrame
purgr = purgr.groupby(['Groups']).agg({'Purchase ID': 'count','Total Purchase Value':'mean','Average Purchase Price':'sum'})

#Formating and adding the Avg Total Purchase/Person list to the DataFrame
purgr = purgr.rename(columns={'Purchase ID':'Purchase Count'})
purgr['Total Purchase Value'] = purgr['Total Purchase Value'].map("${:.2f}".format)
purgr['Average Purchase Price'] = purgr['Average Purchase Price'].map("${:.2f}".format)
purgr['Avg Total Purchase/Person'] = purcper
purgr['Avg Total Purchase/Person'] = purgr['Avg Total Purchase/Person'].map("${:.2f}".format)

purgr

,Purchase Count,Total Purchase Value,Average Purchase Price,Avg Total Purchase/Person
Groups,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
#create a DataFrame for this topic
tops = data.copy()
#Create Columns to be summed and averaged for final DF
tops['Total Purchase Value'] = tops['Price']
tops['Average Purchase Price'] = tops['Price']
# Group the columns by Player and get the count, average, and total of each player
tops = tops.groupby(['SN']).agg({'Purchase ID': 'count','Average Purchase Price':'mean','Total Purchase Value':'sum'})
#sort the columns by ave purchase price
tops = tops.sort_values(["Total Purchase Value"], ascending=False)

#rename the columns and fix the formatting
tops = tops.rename(columns={'SN':'Player Name'})
tops = tops.rename(columns={'Purchase ID':'Purchase Count'})
tops['Total Purchase Value'] = tops['Total Purchase Value'].map("${:.2f}".format)
tops['Average Purchase Price'] = tops['Average Purchase Price'].map("${:.2f}".format)


tops.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
#create copy of DF
popit = data.copy()
#create columns based off profit for tot sum and price
popit['Item Price'] = popit['Price']
popit['Total Purchase Value'] = popit['Price']
#group item ID & Item name count, item price, and total purchase value
popit = popit.groupby(['Item ID','Item Name']).agg({'Purchase ID': 'count','Item Price':'mean','Total Purchase Value':'sum'})

#Sort the items by purchase count
popit = popit.sort_values(["Purchase ID"], ascending=False)
#create a copy to save my spot for the next problem
popitF = popit.copy()
#format column values and rename Pur ID
popitF = popit.rename(columns={'Purchase ID':'Purchase Count'})
popitF['Total Purchase Value'] = popit['Total Purchase Value'].map("${:.2f}".format)
popitF['Item Price'] = popit['Item Price'].map("${:.2f}".format)

popitF.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
#Copy popit DF
profit = popit.copy()
#Sort the items by Total purchase value 
profit = profit.sort_values(['Total Purchase Value'],ascending = False)

#format column values and rename Pur ID
profit = profit.rename(columns={'Purchase ID':'Purchase Count'})
profit['Total Purchase Value'] = profit['Total Purchase Value'].map("${:.2f}".format)
profit['Item Price'] = profit['Item Price'].map("${:.2f}".format)

profit.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80